body {
    background-color: azure;
    padding: 10px;
    font-size: 1.5em;
}
header
{
    
    color:rgb(75, 75, 132) ;
    text-align: center;
}
p{
    text-align: left;
    padding: 10px;
}
li{
    padding: 10px;
}
nav{
   
    padding: 20px;
    background-color:rgb(148, 160, 156);
    color: white;
    margin: auto;
    list-style-type: none;
    animation-duration: 4s;
}
nav a{
    text-decoration: none;
    background-color: rgb(84, 139, 121);
    padding: 8px;
    margin: auto;
    border-radius: 20px;
    color: rgb(62, 62, 139);

}
a:hover{
    background-color: rgb(29, 82, 64);
    color: white;
}
article{
     padding: 10px;
     /* border: 10px solid red; */
}
.justificar{
    text-align: center;
    
    text-wrap: wrap;
}

.imagen{
    display: block;
    text-align: center;
    padding-top: 10px;
    
}
.iframe
{
    display: block;
    text-align: center;
}
.footer {
    background-color: rgb(148, 160, 156);
    padding: 10px;
    text-align: center;

}