body {
    background-color: azure;
    padding: 10px;
    font-size: 1.5em;
}
header
{
    
    color:#BF9649;
    text-align: center;
}
.titulo
{
    color:#BF9649;
}
p{
    text-align: left;
    padding: 10px;
}
li{
    padding: 10px;
}
nav{
   
    padding: 20px;
    background-color:#5D734D;
    color: white;
    margin: auto;
    list-style-type: none;
    animation-duration: 4s;
}
nav a{
    text-decoration: none;
    
    padding: 8px;
    margin: auto;
    border-radius: 20px;
    color: #BF9649;

}
a:hover{
    
    color: rgb(233, 226, 226);
}
article{
     padding: 10px;
     /* border: 10px solid red; */
}
.justificar{
    text-align: center;
    
    text-wrap: wrap;
}

.imagen{
    display: block;
    text-align: center;
    padding-top: 10px;
    
}
.iframe
{
    display: block;
    text-align: center;
}
.footer {
    background-color: #5D734D;
    padding: 10px;
    color:#BF9649;
    text-align: center;

}